/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----GENERAL STYLES-----*/

* {
    box-sizing: border-box;
}
body {
	background: url('https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/wsc/wedding-landing-background.png') repeat center;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.1rem;
	line-height: 1.5;
	color: rgba(64, 64, 64, .8);
}
h2, h3, ul, p, img {
	margin-bottom: 1.5rem;
}
.location, .program, .gift, .faq, .contact {
	width: 95%;
	text-align: center;
	margin: 1rem auto;
	padding: 1rem 1rem;
}
h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 4rem;
	color: rgba(255, 163, 26, .8);
	margin-bottom: 0.2rem;
}
@media (min-width: 768px) {
	h1 {
		font-size: 6rem;
	}
}
h2 {
	font-family: 'Great Vibes', cursive;
	font-size: 3rem;
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
}
a {
	text-decoration: none;
	color: rgb(255, 163, 26);
}
.faq a, .answer a {
	color: rgb(255, 221, 179);
}
a:hover {
	color: rgba(255, 83, 26, .9);
	transition: color .3s ease-in-out;
}

/*-----HEADER STYLES-----*/

.cover {
    background: url('https://i.imgur.com/f6kL69H.jpg') no-repeat center/cover;
    display: table;
    text-align: center;
    width: 100%;
    height: 100vh;
}
@media (min-width: 768px) {
	.cover {
		background: url('https://i.imgur.com/f6kL69H.jpg') no-repeat center/cover;
	}
}
.text-box-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.text-box {
	background-color: rgba(0, 0, 0, .6);
	color: rgba(255, 255, 255, .8);
	margin: 0 auto;
	padding: .5rem;
}
@media (min-width: 768px) {
	.text-box {
		width: 55%;
		border-radius: 5px;
	}
}
.tagline, .date {
	font-size: 1.4rem;
	letter-spacing: .1rem;
}
@media (min-width: 768px) {
	.tagline {
		text-transform: uppercase;
	}
}
.text-box .tagline::after {
	display: block;
	background-color: rgba(255, 255, 255, .8);
	content: "";
	height: 1px;
	width: 11rem;
	margin: 1rem auto;

}
.date::before, .date::after {
	display: inline-block;
	background-color: rgba(255, 255, 255, .8);
	content: "";
	height: 1px;
	width: 2rem;
	vertical-align: middle;
	margin: 1rem;
}

/*----------MAIN STYLES----------*/

/*-----Location-----*/

.location img, .gift img {
	height: 6.5rem;
}
.location-list div {
	font-family: 'Muli', sans-serif;
}
.location-list::after {
	display: inline-block;
	content: "";
	background-color: rgba(64, 64, 64, .8);
	height: 2px;
	width: 11rem;
	vertical-align: middle;
	margin: 1.5rem;
}
@media (min-width: 768px) {
	.location-list {
		display: inline-block;
		width: 30%;
		padding: .5rem 2rem;
		margin: .5rem;
	}
	.location img, .gift img {
		height: 8rem;
	}
	.location-list::after {
		display: none;
	}
}

/*-----Program-----*/

.program h3 {
	font-style: italic;
}
.program, .faq {
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	color: rgba(255, 163, 26, .8);
}
.program ul {
	letter-spacing: .15rem;
	text-align: left;
}
@media (min-width: 768px) {
	.times {
		width: 30%;
		margin: 0 auto;
	}
}

/*-----Gift-----*/

.gift p {
	margin-bottom: 0;
}

/*-----Faq-----*/

.faq h2 {
	margin-top: 1rem;
}
.faq-group::after {
	display: inline-block;
	content: "";
	background-color: rgba(255, 163, 26, .8);
	height: 3px;
	width: 11rem;
	vertical-align: middle;
	margin: 1.5rem;
}
.faq-group p:last-child {
	margin-bottom: 0;
}
.question {
	font-weight: bold;
}
.answer {
	font-size: 1rem;
}
@media (min-width: 768px) {
	.faq-group {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 30%;
		padding: .5rem;
		margin: .5rem;
	}
	.faq-group::after {
		display: none;
	}
}

/*-----Contact-----*/

.contact {
	margin-bottom: 0;
}

/*-----Footer-----*/

footer {
	display: table;
	text-align: center;
	width: 100%;
	height: 5vh;
	background-color: rgba(0, 0, 0, .6);
}
footer p {
	margin: 0;
}
.footer-text {
	padding: .5rem;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Muli', sans-serif;
	font-size: 1rem;
	color: rgba(255, 255, 255, .8);
}